html {
  height: 100%;
  width: 100%;
}
body {
  background: rgb(65, 64, 65);
  background: linear-gradient(
    143deg,
    rgba(65, 64, 65, 1) 0%,
    rgba(30, 29, 32, 1) 69%
  );
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  background-size: cover;
  /* overflow-x: hidden; */
  font-family: "Cardo", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
