.signupContainer {
  height: 100vh;
}

.logupContainer {
  border-radius: 30px;
  height: 50vh!important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation: slideLeft 0.8s;
}

@keyframes slideLeft {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 0;
  }
}

.imageContainer {
  background: rgb(254,107,139);
  background: linear-gradient(143deg, rgba(254,107,139,1) 0%, rgba(255,137,91,1) 100%);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.inputContainer {
  background: rgb(65, 64, 65);
  background: linear-gradient(
    143deg,
    rgba(65, 64, 65, 1) 0%,
    rgba(30, 29, 32, 1) 69%
  );
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.logupImage {
  width: 90%!important;
  height: auto;
  animation: fading 3s;
}


.logupInput {
  color: white;
  margin-bottom: 7px !important;
}

.logupBtn {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  border-radius: 0;
  border: 0;
  color: white;
  height: 48;
  padding: 0 30px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  width: 50%;
}

.logo {
  color: white;
}

.logupInputLabel {
  color: grey !important;
}
.logupInput {
  color: aliceblue !important;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    border-top-left-radius: 0;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 30px;
  }

  .inputContainer {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0;
  }
}
