.card {
    width: 300px;
    height: 370px;
    background: transparent!important;
    border-radius: 15px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s;
    will-change: transform;
    border: 2px solid orangered;
    padding: 2p;
    
}
  
.card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);

}

.card:hover .cardUsername{
    color: grey;
    text-shadow: 4px 2px 7px black;
}



.cardUsername {
    color: white;
    text-shadow: 4px 4px 5px rgba(150, 150, 150, 1);
    font-size: 30px;
    margin-left: 5px;
}

.CardDescrtion {
    color: gold;
    font-size: 25px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
}

.cardInfos {
    position: relative;
    top: -25%;
    z-index: 100;
}

.cardImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 9px;
}

.cardChoice {
    position: relative;
    width: 100%;
    top: -16.5%;
    z-index: 99;
    display: flex;
    flex-direction: row;
    height: 100%;
    /* border: 1px solid yellow; */
}

.cardIcons {
    display: none;
    position: relative;
    background-color: whitesmoke;
    color: grey;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.1);
    transition: 0.2s transform;
    width: 40px;
    height: 40px;
    border: 1px solid grey;
}

.cardIcons:hover {
    color: orangered;
    top: -5%;
}

.card:hover .cardImage{
    height: 85%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: height 0.5s;
}
.card:hover .cardIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: display 1s;

}